# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
alembic/versions/*.pyc

# Node / Frontend
node_modules/
dist/
build/
.DS_Store

# Docker
.docker/

# Environment Files
.env
.env.local